.news-card-container {
  height: 150px;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.news-card-container:hover {
  box-shadow: 5px 5px 20px #888888;
}

.news-card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 2px;
  flex-basis: 220px;
  height: 80%;
}

.news-card-details h4 {
  font-size: 14px;
}

.news-card-details p {
  font-size: 12px;
}

.news-card-image {
  flex-basis: 150px;
  /* width: 180px; */
}

.news-card-image img {
  width: 100%;
}
